{% extends '::base.html.twig' %}

{% macro current(route, target) %}
    class="{% if route in app.request.get('_route') %}active {% endif %}item"
    {% set target = target|default(route) %}
    href="{{ path(target) }}"
{% endmacro %}
{% import _self as helper %}

{% block body %}
    <div class="ui tiered menu">
        <div class="menu">
            <a {{ helper.current('je_user', 'je_user_users') }}>
                <i class="users icon"></i>
                Utilisateurs
            </a>
            <a {{ helper.current('je_finances', 'je_finances_treasury') }}>
                <i class="dollar icon"></i>
                Trésorerie
            </a>
            <a {{ helper.current('je_stat', 'je_stat_index') }}>
                <i class="tasks icon"></i>
                Indicateurs
            </a>

            <div class="right menu">
                <a class="item">
                    <i class="settings icon"></i>
                    Paramettres
                </a>
                <a class="item" href="{{ path('fos_user_security_logout') }}">
                    <i class="off icon"></i>
                    Déconnexion
                </a>
            </div>
        </div>

        {% set route = app.request.get('_route') %}

        <div class="ui sub menu">
            {% if 'je_user' in route %}
                <a {{ helper.current('je_user_users') }}>Equipe</a>
                <a {{ helper.current('je_user_groups') }}>Postes</a>
            {% endif %}

            {% if 'je_finances' in route %}
                <a {{ helper.current('je_finances_treasury') }}>Trésorerie réelle</a>
                <a {{ helper.current('je_finances_taxes') }}>TVA</a>
                <a class="item">URSSAF</a>
                <a {{ helper.current('je_finances_fc') }}>Factures clients</a>
                <a {{ helper.current('je_finances_bv') }}>Bulletins de versement</a>
                <a {{ helper.current('je_finances_ff') }}>Factures fournisseurs / RF</a>
            {% endif %}

            {% if 'je_stat' in route %}
                <div class="ui pointing dropdown item{% if 'je_stat_finance' in route %} active{% endif %}">
                    Trésorerie <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="{{ path('je_stat_finances_treasury') }}" class="item">Trésorerie réelle</a>
                        <a class="item">TVA</a>
                        <a class="item">URSSAF</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

{% endblock %}